.container {
  /* border: 0.2rem solid chartreuse;
  margin: 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start; */

  border: 0.2rem solid chartreuse;
  margin: 0;
  width: 100%;
  height: 43rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

.card {
  border: 0.2rem solid blue;
  margin: 0.2rem;
  border-radius: 5%;
  padding: 0.2rem;

  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items: flex-start;
}

.ratings {
  display: flex;
  flex-direction: column-reverse;
}

/* 
NOTES:
- inline: don't let you effect their width or height
- inline-block: can change width & height, don't mind sharing line
- block: can change width & height

- static: where element would normally be (where u're meant to be)
- relative: move around based on where your normal place be (move from where u're meant to be)
- absolute: don't care where u supposed to be, go where u told (think "NEW!" label/btn from Slurps ;)"

- em: amount of space taken up by a normal letter
- rem: amount of space taken relative to normal letter
*/
